homeassistant:
  allowlist_external_dirs:
    - "/config/csv"

# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

# Text to speech
tts:
  - platform: google_translate
    language: "sv"

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
mqtt: !include mqtt.yaml

# Added sensors
rest:
  - resource: https://karnkraft.vattenfall.se/ringhals/produktion/
    scan_interval: 1800
    sensor:
      - name: "Ringhals TEST"
        value_template: >
          {{ value | regex_findall("production.:\s(\d+.\d+)", ignorecase=true) }}
      - name: Ringhals Power
        value_template: >
          {{ value | regex_findall("production.:\s(\d+.\d+)", ignorecase=true) }}
      - name: Ringhals Percent
        value_template: >
          {{ value | regex_findall("percent.:\s(\d+.\d+)", ignorecase=true) }}
  - resource: https://karnkraft.vattenfall.se/forsmark/produktion/
    scan_interval: 1800
    sensor:
      - name: Forsmark Power
        value_template: >
          {{ value | regex_findall("production.:\s(\d+.\d+)", ignorecase=true) }}
      - name: Forsmark Percent
        value_template: >
          {{ value | regex_findall("percent.:\s(\d+.\d+)", ignorecase=true) }}
  - resource: https://www.okg.se/.netlify/functions/getReactorOutput
    scan_interval: 1800
    sensor:
      - name: OKG Effekt
        unit_of_measurement: MW
        value_template: "{{ value_json.value }}"

template:
  - sensor:
      - unit_of_measurement: MW
        default_entity_id: sensor.ringhals3_effekt
        name: Ringhals 3 Effekt
        state: '{{ states(''sensor.ringhals_power'').split('','')[0] | regex_findall_index("(\d+)") }}'
  - sensor:
      - unit_of_measurement: "%"
        default_entity_id: sensor.ringhals3_procent
        name: Ringhals 3 Procent
        state: '{{ states(''sensor.ringhals_percent'').split('','')[0] | regex_findall_index("(\d+.\d+)") }}'
  - sensor:
      - unit_of_measurement: MW
        default_entity_id: sensor.ringhals4_effekt
        name: Ringhals 4 Effekt
        state: '{{ states(''sensor.ringhals_power'').split('','')[1] | regex_findall_index("(\d+)") }}'
  - sensor:
      - unit_of_measurement: "%"
        default_entity_id: sensor.ringhals4_procent
        name: Ringhals 4 Procent
        state: '{{ states(''sensor.ringhals_percent'').split('','')[1] | regex_findall_index("(\d+.\d+)") }}'
  - sensor:
      - unit_of_measurement: MW
        default_entity_id: sensor.forsmark1_effekt
        name: Forsmark 1 Effekt
        state: '{{ states(''sensor.forsmark_power'').split('','')[0] | regex_findall_index("(\d+)") }}'
  - sensor:
      - unit_of_measurement: "%"
        default_entity_id: sensor.forsmark1_procent
        name: Forsmark 1 Procent
        state: '{{ states(''sensor.forsmark_percent'').split('','')[0] | regex_findall_index("(\d+.\d+)") }}'
  - sensor:
      - unit_of_measurement: MW
        default_entity_id: sensor.forsmark2_effekt
        name: Forsmark 2 Effekt
        state: '{{ states(''sensor.forsmark_power'').split('','')[1] | regex_findall_index("(\d+)") }}'
  - sensor:
      - unit_of_measurement: "%"
        default_entity_id: sensor.forsmark2_procent
        name: Forsmark 2 Procent
        state: '{{ states(''sensor.forsmark_percent'').split('','')[1] | regex_findall_index("(\d+.\d+)") }}'
  - sensor:
      - unit_of_measurement: MW
        default_entity_id: sensor.forsmark3_effekt
        name: Forsmark 3 Effekt
        state: '{{ states(''sensor.forsmark_power'').split('','')[2] | regex_findall_index("(\d+)") }}'
  - sensor:
      - unit_of_measurement: "%"
        default_entity_id: sensor.forsmark3_procent
        name: Forsmark 3 Procent
        state: '{{ states(''sensor.forsmark_percent'').split('','')[2] | regex_findall_index("(\d+.\d+)") }}'
  - sensor:
      - unit_of_measurement: "%"
        name: OKG Procent
        state: "{{ (states('sensor.okg_effekt')|int) / 1450 * 100 }}"
  - sensor:
      - unit_of_measurement: W
        #default_entity_id: sensor.wallconnector_power
        name: Wall Connector Power Test
        device_class: power
        state:
          "{% set a_current = states('sensor.tesla_wall_connector_phase_a_current')
          | float %} {% set b_current = states('sensor.tesla_wall_connector_phase_b_current')
          | float %} {% set c_current = states('sensor.tesla_wall_connector_phase_c_current')
          | float %} {% set a_voltage = states('sensor.tesla_wall_connector_phase_a_voltage')
          | float %} {% set b_voltage = states('sensor.tesla_wall_connector_phase_b_voltage')
          | float %} {% set c_voltage = states('sensor.tesla_wall_connector_phase_c_voltage')
          | float %} {{ (a_current * a_voltage) + (b_current * b_voltage) + (c_current
          * c_voltage) }}"
  - sensor:
      - unit_of_measurement: "SEK/kWh"
        name: Totalt elpris TEST
        icon: mdi:currency-eur
        state: >
          {% set days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31] %}
          {% set monthly_usage = [2218, 2007, 1662, 1662, 1294, 1172, 1314, 942, 1096, 1591, 1966, 2102] %}
          {% set i = now().month - 1 %}
          {% set spotpris = states('sensor.nordpool_kwh_se4_sek_2_10_0') | float %}
          {% set days_in_year = states('input_number.days_in_year') | float %}
          {% set elbolag_avgifter = 18.10 * 0.8 | float %}
          {% set elbolag_arsavgift = 58800 %}
          {% set elbolag_fast_avgift = (elbolag_arsavgift * 0.8 / days_in_year * days_in_month[i] / monthly_usage[i]) | float %}
          {% set elnat_arsavgift = 684400 | int %}
          {% set elnat_fast_avgift = (elnat_arsavgift / days_in_year * days_in_month[i] / monthly_usage[i]) | float %}
          {% set elnat_overforing = 17.36 | float %}
          {% set elnat_energiskatt = 42.80 | float %}
          {{ ((spotpris + elbolag_fast_avgift + elbolag_avgifter + elnat_fast_avgift + elnat_overforing + elnat_energiskatt) * 1.25 / 100) | round(2) }}

sensor:
  - platform: template
    sensors:
      wallconnector_power:
        friendly_name: Wall Connector Power
        unit_of_measurement: "W"
        device_class: "power"
        value_template: >
          {% set a_current = states('sensor.tesla_wall_connector_phase_a_current') | float %}
          {% set b_current = states('sensor.tesla_wall_connector_phase_b_current') | float %}
          {% set c_current = states('sensor.tesla_wall_connector_phase_c_current') | float %}
          {% set a_voltage = states('sensor.tesla_wall_connector_phase_a_voltage') | float %}
          {% set b_voltage = states('sensor.tesla_wall_connector_phase_b_voltage') | float %}
          {% set c_voltage = states('sensor.tesla_wall_connector_phase_c_voltage') | float %}
          {{ (a_current * a_voltage) + (b_current * b_voltage) + (c_current * c_voltage) }}
      totalt_elpris:
        friendly_name: Totalt elpris
        unit_of_measurement: "SEK/kWh"
        icon_template: "mdi:currency-eur"
        value_template: >
          {% set days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31] %}
          {% set monthly_usage = [2218, 2007, 1662, 1662, 1294, 1172, 1314, 942, 1096, 1591, 1966, 2102] %}
          {% set i = now().month - 1 %}
          {% set spotpris = states('sensor.nordpool_kwh_se4_sek_2_10_0') | float %}
          {% set days_in_year = states('input_number.days_in_year') | float %}
          {% set elbolag_avgifter = 18.10 * 0.8 | float %}
          {% set elbolag_arsavgift = 58800 %}
          {% set elbolag_fast_avgift = (elbolag_arsavgift * 0.8 / days_in_year * days_in_month[i] / monthly_usage[i]) | float %}
          {% set elnat_arsavgift = 684400 | int %}
          {% set elnat_fast_avgift = (elnat_arsavgift / days_in_year * days_in_month[i] / monthly_usage[i]) | float %}
          {% set elnat_overforing = 17.36 | float %}
          {% set elnat_energiskatt = 42.80 | float %}
          {{ ((spotpris + elbolag_fast_avgift + elbolag_avgifter + elnat_fast_avgift + elnat_overforing + elnat_energiskatt) * 1.25 / 100) | round(2) }}
      totalt_elpris_se3:
        friendly_name: Totalt elpris SE3
        unit_of_measurement: "SEK/kWh"
        icon_template: "mdi:currency-eur"
        value_template: >
          {% set days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31] %}
          {% set monthly_usage = [2218, 2007, 1662, 1662, 1294, 1172, 1314, 942, 1096, 1591, 1966, 2102] %}
          {% set i = now().month - 1 %}
          {% set spotpris = states('sensor.nordpool_kwh_se3_sek_2_10_0') | float %}
          {% set days_in_year = states('input_number.days_in_year') | float %}
          {% set elbolag_avgifter = 18.10 * 0.8 | float %}
          {% set elbolag_manadsavgift = 6900 %}
          {% set elbolag_fast_avgift = (elbolag_manadsavgift * 0.8 / days_in_month[i] / monthly_usage[i]) | float %}
          {% set elnat_arsavgift = 491600 | int %}
          {% set elnat_fast_avgift = (elnat_arsavgift / days_in_year * days_in_month[i] / monthly_usage[i]) | float %}
          {% set elnat_overforing = 27.20 | float %}
          {% set elnat_energiskatt = 42.80 | float %}
          {{ ((spotpris + elbolag_fast_avgift + elbolag_avgifter + elnat_fast_avgift + elnat_overforing + elnat_energiskatt) * 1.25 / 100) | round(2) }}
      wallconnector_power_cost:
        friendly_name: "Wallconnector kostnad momentan"
        unit_of_measurement: "SEK"
        icon_template: "mdi:currency-eur"
        value_template: >
          {% set power = states('sensor.wallconnector_power') | float %}
          {% set cost = states('sensor.totalt_elpris') | float %}
          {{ power * cost / 1000 }}
      wallconnector_power_alex_o_elin:
        friendly_name: "Wallconnector power Alex o Elin"
        unit_of_measurement: "W"
        device_class: "power"
        value_template: >
          {% if is_state('input_select.car_connected_to_charger', 'Sälen') %}
          {{ states('sensor.wallconnector_power') }}
          {% else %}
          {{ 0.0 }}
          {% endif %}
      wallconnector_power_lennart_o_suzanne:
        friendly_name: "Wallconnector power Lennart o Suzanne"
        unit_of_measurement: "W"
        device_class: "power"
        value_template: >
          {% if is_state('input_select.car_connected_to_charger', 'Lennart') %}
          {{ states('sensor.wallconnector_power') }}
          {% else %}
          {{ 0.0 }}
          {% endif %}
      wallconnector_power_cost_alex_o_elin:
        friendly_name: "Wallconnector kostnad momentan Alex o Elin"
        unit_of_measurement: "SEK"
        icon_template: "mdi:currency-eur"
        value_template: >
          {% set power = states('sensor.wallconnector_power') | float %}
          {% set cost = states('sensor.totalt_elpris') | float %}
          {% if is_state('input_select.car_connected_to_charger', 'Sälen') %}
          {{ power * cost / 1000 }}
          {% else %}
          {{ 0.0 }}
          {% endif %}
      wallconnector_power_cost_lennart_o_suzanne:
        friendly_name: "Wallconnector kostnad momentan Lennart o Suzanne"
        unit_of_measurement: "SEK"
        icon_template: "mdi:currency-eur"
        value_template: >
          {% set power = states('sensor.wallconnector_power') | float %}
          {% set cost = states('sensor.totalt_elpris') | float %}
          {% if is_state('input_select.car_connected_to_charger', 'Lennart') %}
          {{ power * cost / 1000 }}
          {% else %}
          {{ 0.0 }}
          {% endif %}
      ellie_power_at_herrgarden:
        friendly_name: "Ellie power at Herrgården"
        unit_of_measurement: "W"
        value_template: >
          {% if is_state('device_tracker.ellie_location_tracker', 'lilla_herrgarden') %}
          {{ states('sensor.ellie_charger_power') | float * 1000 }}
          {% else %}
          {{ 0.0 }}
          {% endif %}
      ellie_power_cost_at_herrgarden:
        friendly_name: "Ellie power cost at Herrgården"
        unit_of_measurement: "SEK"
        icon_template: "mdi:currency-eur"
        value_template: >
          {% set power = states('sensor.ellie_power_at_herrgarden') | float %}
          {% set cost = states('sensor.totalt_elpris_se3') | float %}
          {% if is_state('device_tracker.ellie_location_tracker', 'lilla_herrgarden') %}
          {{ power * cost / 1000 }}
          {% else %}
          {{ 0.0 }}
          {% endif %}
      ellie_power_at_blavinge:
        friendly_name: "Ellie power at Blåvinge"
        unit_of_measurement: "W"
        value_template: >
          {% if is_state('input_select.car_connected_to_charger', 'Ellie') %}
          {{ states('sensor.wallconnector_power') }}
          {% else %}
          {{ 0.0 }}
          {% endif %}
      ellie_power_cost_at_blavinge:
        friendly_name: "Ellie power cost at Blåvinge"
        unit_of_measurement: "SEK"
        icon_template: "mdi:currency-eur"
        value_template: >
          {% set power = states('sensor.wallconnector_power') | float %}
          {% set cost = states('sensor.totalt_elpris') | float %}
          {% if is_state('input_select.car_connected_to_charger', 'Ellie') %}
          {{ power * cost / 1000 }}
          {% else %}
          {{ 0.0 }}
          {% endif %}
      outdoor_latest_real_temperature:
        friendly_name: "Senaste riktiga yttertemperaturen"
        unit_of_measurement: "°C"
        value_template: >
          {% if states('sensor.tesla_wall_connector_handle_temperature') | float() < 40.0 %}
          {{ states('sensor.tesla_wall_connector_handle_temperature') }}
          {% endif %}
      outdoor_temperature:
        friendly_name: "Yttertemperatur"
        unit_of_measurement: "°C"
        value_template: >
          {% if states('sensor.tesla_wall_connector_handle_temperature') | float() < 40.0 %}
          {{ states('sensor.tesla_wall_connector_handle_temperature') }}
          {% else %}
          {{ states('sensor.outdoor_latest_temperature') }}
          {% endif %}
      day_of_the_week:
        friendly_name: "Day of the week"
        value_template: "{{ now().weekday() + 1 }}"

logbook:
  exclude:
    entities:
      - media_player.65oled707_12

logger:
  default: info
  logs:
    homeassistant.components.rest: debug

####### To automate upload to Github ######
shell_command:
  pushupdates_to_github: /bin/bash pushupdates.sh

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.30.33.0/24
    - 172.16.0.0/12

notify:
  - name: "Gmail_SE3_Max_Price_Notify"
    platform: smtp
    server: "smtp.gmail.com"
    port: 587
    timeout: 15
    sender: "andorrs.ha@gmail.com"
    encryption: starttls
    username: "andorrs.ha@gmail.com"
    password: !secret google_app_password
    recipient:
      - "hookaman@gmail.com"
      - "lennart.thor1@gmail.com"
    sender_name: "Anders Home Assistant"
