homeassistant:
  allowlist_external_dirs:
    - "/config/csv"

# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

# Text to speech
tts:
  - platform: google_translate
    language: "sv"

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
mqtt: !include mqtt.yaml

# Added sensors
rest:
  - resource: https://karnkraft.vattenfall.se/ringhals/produktion/
    scan_interval: 1800
    sensor:
      - name: "Ringhals TEST"
        value_template: >
          {{ value | regex_findall("production.:\s(\d+.\d+)", ignorecase=true) }}
      - name: Ringhals Power
        value_template: >
          {{ value | regex_findall("production.:\s(\d+.\d+)", ignorecase=true) }}
      - name: Ringhals Percent
        value_template: >
          {{ value | regex_findall("percent.:\s(\d+.\d+)", ignorecase=true) }}
  - resource: https://karnkraft.vattenfall.se/forsmark/produktion/
    scan_interval: 1800
    sensor:
      - name: Forsmark Power
        value_template: >
          {{ value | regex_findall("production.:\s(\d+.\d+)", ignorecase=true) }}
      - name: Forsmark Percent
        value_template: >
          {{ value | regex_findall("percent.:\s(\d+.\d+)", ignorecase=true) }}
  - resource: https://www.okg.se/.netlify/functions/getReactorOutput
    scan_interval: 1800
    sensor:
      - name: OKG Effekt
        unit_of_measurement: MW
        value_template: "{{ value_json.value }}"

template:
  - sensor:
      - unit_of_measurement: MW
        default_entity_id: sensor.ringhals3_effekt
        name: Ringhals 3 Effekt
        state: '{{ states(''sensor.ringhals_power'').split('','')[0] | regex_findall_index("(\d+)") }}'
  - sensor:
      - unit_of_measurement: "%"
        default_entity_id: sensor.ringhals3_procent
        name: Ringhals 3 Procent
        state: '{{ states(''sensor.ringhals_percent'').split('','')[0] | regex_findall_index("(\d+.\d+)") }}'
  - sensor:
      - unit_of_measurement: MW
        default_entity_id: sensor.ringhals4_effekt
        name: Ringhals 4 Effekt
        state: '{{ states(''sensor.ringhals_power'').split('','')[1] | regex_findall_index("(\d+)") }}'
  - sensor:
      - unit_of_measurement: "%"
        default_entity_id: sensor.ringhals4_procent
        name: Ringhals 4 Procent
        state: '{{ states(''sensor.ringhals_percent'').split('','')[1] | regex_findall_index("(\d+.\d+)") }}'
  - sensor:
      - unit_of_measurement: MW
        default_entity_id: sensor.forsmark1_effekt
        name: Forsmark 1 Effekt
        state: '{{ states(''sensor.forsmark_power'').split('','')[0] | regex_findall_index("(\d+)") }}'
  - sensor:
      - unit_of_measurement: "%"
        default_entity_id: sensor.forsmark1_procent
        name: Forsmark 1 Procent
        state: '{{ states(''sensor.forsmark_percent'').split('','')[0] | regex_findall_index("(\d+.\d+)") }}'
  - sensor:
      - unit_of_measurement: MW
        default_entity_id: sensor.forsmark2_effekt
        name: Forsmark 2 Effekt
        state: '{{ states(''sensor.forsmark_power'').split('','')[1] | regex_findall_index("(\d+)") }}'
  - sensor:
      - unit_of_measurement: "%"
        default_entity_id: sensor.forsmark2_procent
        name: Forsmark 2 Procent
        state: '{{ states(''sensor.forsmark_percent'').split('','')[1] | regex_findall_index("(\d+.\d+)") }}'
  - sensor:
      - unit_of_measurement: MW
        default_entity_id: sensor.forsmark3_effekt
        name: Forsmark 3 Effekt
        state: '{{ states(''sensor.forsmark_power'').split('','')[2] | regex_findall_index("(\d+)") }}'
  - sensor:
      - unit_of_measurement: "%"
        default_entity_id: sensor.forsmark3_procent
        name: Forsmark 3 Procent
        state: '{{ states(''sensor.forsmark_percent'').split('','')[2] | regex_findall_index("(\d+.\d+)") }}'
  - sensor:
      - unit_of_measurement: "%"
        name: OKG Procent
        state: "{{ (states('sensor.okg_effekt')|int) / 1450 * 100 }}"
  - sensor:
      - unit_of_measurement: W
        default_entity_id: sensor.wallconnector_power
        name: Wall Connector Power
        device_class: power
        state:
          "{% set a_current = states('sensor.tesla_wall_connector_phase_a_current')
          | float %} {% set b_current = states('sensor.tesla_wall_connector_phase_b_current')
          | float %} {% set c_current = states('sensor.tesla_wall_connector_phase_c_current')
          | float %} {% set a_voltage = states('sensor.tesla_wall_connector_phase_a_voltage')
          | float %} {% set b_voltage = states('sensor.tesla_wall_connector_phase_b_voltage')
          | float %} {% set c_voltage = states('sensor.tesla_wall_connector_phase_c_voltage')
          | float %} {{ (a_current * a_voltage) + (b_current * b_voltage) + (c_current
          * c_voltage) }}"
  - sensor:
      - name: Nordpool SE4 spotpris 15min
        unit_of_measurement: "Öre/kWh"
        icon: mdi:currency-eur
        state: >
          {% set data = state_attr('sensor.nordpool_kwh_se4_sek_2_10_0', 'raw_today') or [] %}
          {% set nowts = as_timestamp(now()) %}
          {% set current = namespace(val=None) %}
          {% for p in data %}
            {% set s = as_timestamp(as_datetime(p.start)) %}
            {% set e = as_timestamp(as_datetime(p.end)) %}
            {% if nowts >= s and nowts < e %}
              {% set current.val = p.value %}
            {% endif %}
          {% endfor %}
          {{ current.val if current.val is not none else 'unknown' }}
  - sensor:
      - name: Nordpool SE3 spotpris 15min
        unit_of_measurement: "Öre/kWh"
        icon: mdi:currency-eur
        state: >
          {% if states('sensor.nordpool_kwh_se3_sek_2_10_0') == 'unknown' %}
            {{ states('sensor.nordpool_se4_spotpris_15min') }}
          {% else %}
            {% set data = state_attr('sensor.nordpool_kwh_se3_sek_2_10_0', 'raw_today') or [] %}
            {% set nowts = as_timestamp(now()) %}
            {% set current = namespace(val=None) %}
            {% for p in data %}
              {% set s = as_timestamp(as_datetime(p.start)) %}
              {% set e = as_timestamp(as_datetime(p.end)) %}
              {% if nowts >= s and nowts < e %}
                {% set current.val = p.value %}
              {% endif %}
            {% endfor %}
            {{ current.val if current.val is not none else 'unknown' }}
          {% endif %}
  - sensor:
      - unit_of_measurement: "SEK/kWh"
        name: Totalt elpris
        icon: mdi:currency-eur
        state: >
          {% set days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31] %}
          {% set monthly_usage = [2075, 1591, 2011, 1541, 1457, 1144, 1152, 1033, 1020, 1667, 1966, 1845] %}
          {% set i = now().month - 1 %}
          {% set spotpris = states('sensor.nordpool_se4_spotpris_15min') | float %}
          {% set days_in_year = states('input_number.days_in_year') | float %}
          {% set elbolag_avgifter = 18.10 * 0.8 | float %}
          {% set elbolag_arsavgift = 58800 %}
          {% set elbolag_fast_avgift = (elbolag_arsavgift * 0.8 / days_in_year * days_in_month[i] / monthly_usage[i]) | float %}
          {% set elnat_arsavgift = 684400 | int %}
          {% set elnat_fast_avgift = (elnat_arsavgift / days_in_year * days_in_month[i] / monthly_usage[i]) | float %}
          {% set elnat_overforing = 17.36 | float %}
          {% set elnat_energiskatt = 42.80 | float %}
          {{ ((spotpris + elbolag_fast_avgift + elbolag_avgifter + elnat_fast_avgift + elnat_overforing + elnat_energiskatt) * 1.25 / 100) | round(2) }}
  - sensor:
      - unit_of_measurement: "SEK/kWh"
        name: Totalt elpris SE3
        icon: mdi:currency-eur
        state: >
          {% set days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31] %}
          {% set monthly_usage = [2075, 1591, 2011, 1541, 1457, 1144, 1152, 1033, 1020, 1667, 1966, 1845] %}
          {% set i = now().month - 1 %}
          {% set spotpris = states('sensor.nordpool_se3_spotpris_15min') | float %}
          {% set days_in_year = states('input_number.days_in_year') | float %}
          {% set elbolag_avgifter = 18.10 * 0.8 | float %}
          {% set elbolag_manadsavgift = 6900 %}
          {% set elbolag_fast_avgift = (elbolag_manadsavgift * 0.8 / days_in_month[i] / monthly_usage[i]) | float %}
          {% set elnat_arsavgift = 491600 | int %}
          {% set elnat_fast_avgift = (elnat_arsavgift / days_in_year * days_in_month[i] / monthly_usage[i]) | float %}
          {% set elnat_overforing = 27.20 | float %}
          {% set elnat_energiskatt = 42.80 | float %}
          {{ ((spotpris + elbolag_fast_avgift + elbolag_avgifter + elnat_fast_avgift + elnat_overforing + elnat_energiskatt) * 1.25 / 100) | round(2) }}
  - sensor:
      - unit_of_measurement: "SEK"
        default_entity_id: sensor.wallconnector_power_cost
        name: Wallconnector kostnad momentan
        icon: "mdi:currency-eur"
        state: >
          {% set power = states('sensor.wallconnector_power') | float %}
          {% set cost = states('sensor.totalt_elpris') | float %}
          {{ power * cost / 1000 }}
  - sensor:
      - unit_of_measurement: "W"
        default_entity_id: sensor.ellie_power_at_blavinge
        name: Ellie power at Blåvinge
        device_class: "power"
        state: >
          {% if is_state('input_select.car_connected_to_charger', 'Ellie') %}
          {{ states('sensor.wallconnector_power') }}
          {% else %}
          {{ 0.0 }}
          {% endif %}
  - sensor:
      - default_entity_id: ellie_power_at_herrgarden # NOT WORKING DUE TO NO TESLA INTEGRATION
        name: Ellie power at Herrgården
        unit_of_measurement: "W"
        state: >
          {% if is_state('device_tracker.ellie_location_tracker', 'lilla_herrgarden') %}
          {{ states('sensor.ellie_charger_power') | float * 1000 }}
          {% else %}
          {{ 0.0 }}
          {% endif %}
  - sensor:
      - unit_of_measurement: "W"
        default_entity_id: sensor.wallconnector_power_alex_o_elin
        name: Wallconnector power Alex o Elin
        device_class: "power"
        state: >
          {% if is_state('input_select.car_connected_to_charger', 'Sälen') %}
          {{ states('sensor.wallconnector_power') }}
          {% else %}
          {{ 0.0 }}
          {% endif %}
  - sensor:
      - unit_of_measurement: "W"
        default_entity_id: sensor.wallconnector_power_lennart_o_suzanne
        name: Wallconnector power Lennart o Suzanne
        device_class: "power"
        state: >
          {% if is_state('input_select.car_connected_to_charger', 'Lennart') %}
          {{ states('sensor.wallconnector_power') }}
          {% else %}
          {{ 0.0 }}
          {% endif %}
  - sensor:
      - unit_of_measurement: "SEK"
        default_entity_id: sensor.ellie_power_cost_at_blavinge
        name: Ellie power cost at Blåvinge
        icon: mdi:currency-eur
        state: >
          {% set power = states('sensor.wallconnector_power') | float %}
          {% set cost = states('sensor.totalt_elpris') | float %}
          {% if is_state('input_select.car_connected_to_charger', 'Ellie') %}
          {{ power * cost / 1000 }}
          {% else %}
          {{ 0.0 }}
          {% endif %}
  - sensor:
      - default_entity_id: sensor.ellie_power_cost_at_herrgarden
        name: Ellie power cost at Herrgården
        unit_of_measurement: "SEK"
        icon: "mdi:currency-eur"
        state: >
          {% set power = states('sensor.ellie_power_at_herrgarden') | float %}
          {% set cost = states('sensor.totalt_elpris_se3') | float %}
          {% if is_state('device_tracker.ellie_location_tracker', 'lilla_herrgarden') %}
          {{ power * cost / 1000 }}
          {% else %}
          {{ 0.0 }}
          {% endif %}
  - sensor:
      - unit_of_measurement: "SEK"
        default_entity_id: sensor.wallconnector_power_cost_alex_o_elin
        name: Wallconnector kostnad momentan Alex o Elin
        icon: mdi:currency-eur
        state: >
          {% set power = states('sensor.wallconnector_power') | float %}
          {% set cost = states('sensor.totalt_elpris') | float %}
          {% if is_state('input_select.car_connected_to_charger', 'Sälen') %}
          {{ power * cost / 1000 }}
          {% else %}
          {{ 0.0 }}
          {% endif %}
  - sensor:
      - unit_of_measurement: "SEK"
        default_entity_id: sensor.wallconnector_power_cost_lennart_o_suzanne
        name: Wallconnector kostnad momentan Lennart o Suzanne
        icon: mdi:currency-eur
        state: >
          {% set power = states('sensor.wallconnector_power') | float %}
          {% set cost = states('sensor.totalt_elpris') | float %}
          {% if is_state('input_select.car_connected_to_charger', 'Lennart') %}
          {{ power * cost / 1000 }}
          {% else %}
          {{ 0.0 }}
          {% endif %}
  - sensor:
      - default_entity_id: sensor.outdoor_latest_real_temperature
        name: Senaste riktiga yttertemperaturen
        unit_of_measurement: "°C"
        state: >
          {% if states('sensor.tesla_wall_connector_handle_temperature') | float() < 40.0 %}
          {{ states('sensor.tesla_wall_connector_handle_temperature') }}
          {% endif %}
  - sensor:
      - default_entity_id: sensor.outdoor_temperature
        name: Yttertemperatur
        unit_of_measurement: "°C"
        state: >
          {% if states('sensor.tesla_wall_connector_handle_temperature') | float() < 40.0 %}
          {{ states('sensor.tesla_wall_connector_handle_temperature') }}
          {% else %}
          {{ states('sensor.outdoor_latest_real_temperature') }}
          {% endif %}
  - sensor:
      - default_entity_id: sensor.day_of_the_week
        name: Day of the week
        state: "{{ now().weekday() + 1 }}"

logbook:
  exclude:
    entities:
      - media_player.65oled707_12

logger:
  default: info
  logs:
    homeassistant.components.rest: debug

####### To automate upload to Github ######
shell_command:
  pushupdates_to_github: /bin/bash pushupdates.sh

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.30.33.0/24
    - 172.16.0.0/12

notify:
  - name: "Gmail_SE3_Max_Price_Notify"
    platform: smtp
    server: "smtp.gmail.com"
    port: 587
    timeout: 15
    sender: "andorrs.ha@gmail.com"
    encryption: starttls
    username: "andorrs.ha@gmail.com"
    password: !secret google_app_password
    recipient:
      - "hookaman@gmail.com"
      - "lennart.thor1@gmail.com"
    sender_name: "Anders Home Assistant"
